*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{

}
header .header-top{

align-items: center;

padding: 10px 0;
}
header .logo{

text-align: center;
}
header .logo img{
    width: 60%;
}
header .header-contact{

display: flex;

align-items: center;

justify-content: end;

margin-top: 10px;
}
.header-contact .contact{

/* margin-right: 50px; */

display: flex;

justify-content: end;
}
.header-contact .contact i{
    height: 50px;
    width: 50px;
    line-height: 47px;
    text-align: center;
    font-size: 28px;
    /* margin-right: 0px; */
    color: #f69165;
}
.header-contact .contact a{

text-decoration: none;

color: #363636;

font-weight: 600;

font-size: 16px;
}
.header-contact .contact p{

color: #676363;

font-size: 12px;

margin: 0;
}
.header-contact .contact .a-p{

}
header .header-bottom{
    
background: #00cce1;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
    color: #e16f3d;
}
.appoinment-box{
    background: #f69165;
    transform: skewX(-15deg);
    text-align: center;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
.appoinment-box i{
    
color: #fff;
    
margin-right: 7px;
}
.appoinment-box a{
    
text-decoration: none;
    
color: #fff;
    
transform: skewX(15deg);
    
font-size: 15px;
}
.appoinment-box a:hover{
    color: #fff;
}
.slider{

}
.slider .carousel-inner{
    
}
.slider .carousel-inner .carousel-item{
    background-image: url(../images/baner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.slider h2{

display: inline-block;

background: #00cce1;

text-transform: uppercase;

margin: 0;

padding: 5px 10px;

color: #fff;

margin-bottom: 10px;
}
.slider h1{

display: inline-block;

background: #f69165;

margin: 0;

text-transform: uppercase;

font-size: 45px;

padding: 5px 10px;

margin-bottom: 10px;

color: #fff;
}
.slider p{

color: #636363;

font-size: 16px;

margin: 0;

margin-left: 5px;

margin-bottom: 25px;
}
.slider .btn-learn{

padding: 0;

margin: 0;

/* border: 1px; */

background: #f69165;

border-radius: 0;

padding: 10px 25px;

text-transform: uppercase;

color: #fff;

font-weight: 600;

font-size: 18px;
}
.slider .btn-learn:hover {
    color: #fff;
    background: #00cce1;
    transition: all .3s ease-in-out;
}
.slider .btn-book{

padding: 0;

margin: 0;

/* border: 1px; */

background: #00cce1;

border-radius: 0;

padding: 10px 25px;

text-transform: uppercase;

color: #fff;

font-weight: 600;

font-size: 18px;

margin-left: 10px;
}
.slider .btn-book:hover {
    color: #fff;
    background: #f69165;
    transition: all .3s ease-in-out;
}
.banner-img{

}
.banner-img img{
    
}
.carousel-control-next, .carousel-control-prev {
    width: 3%;
    background: #f69165;
    height: 8%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    opacity: .3;
    transition: opacity .6s ease;
    width: 10px;
    height: 10px;
    background: #f69165;
    border-radius: 50%;
    /* border: 1px solid; */
}
.carousel-indicators .active {
    opacity: 1;
}
.carousel-control-prev {
    background: #00cce1;
}
.about_section{

position: relative;
}
.about-img{

left: 2%;

bottom: 0;

width: 38%;

position: absolute;
}
.about-img img{
    
max-width: 100%;
}
.about_section h1{
    
font-weight: 700;
    
font-size: 32px;
    
margin: 0;
    
/* padding: 0; */
    
margin-bottom: 10px;
    
margin-top: 20px;
}
.about_section p{
    
margin: 0;
    
/* padding: 0; */
    
color: #707070;
    
font-size: 14px;
    
margin-bottom: 30px;
}
.box p{
    
    margin: 0;
        
    /* padding: 0; */
        
    color: #707070;
        
    font-size: 14px;
        
    margin-bottom: 30px;
    }
.tooth{
    
width: 50%;
}
 .tooth img{
    width: 20%;
    margin-bottom: 5px;}
 .box h4{

color: #363636;

font-size: 19px;

margin: 0;

padding: 0;

font-weight: 700;

margin-bottom: 7px;
}
.box p{

margin: 0;

margin-bottom: 20px;
}
.testimonial_section{
    
background: #eeeded;
}
.testimonial_section .heading{

}
.heading h1{

font-size: 35px;

font-weight: 700;

margin: 0;

margin-bottom: 5px;
}
.heading p{

margin: 0;

color: #807e7e;

margin-bottom: 30px;

font-size: 14px;
}
.forma-img{

/* width: 50%; */

margin-bottom: 5px;
}
.forma-img img{
    
width: 9%;
}
.doctors-details{

background: #fff;

margin-bottom: 25px;
}
.doctors-details .doctors-img{
    position: relative;
}
.doctors-details .doctors-img img{
    
width: 100%;
}
.doctors-details h5{
    
color: #000;
    
margin: 0;
    
margin-top: 15px;
    
font-size: 18px;
    
font-weight: 700;
transition: .4s all ease-in-out;
}
.doctors-details p{
    
margin: 0;
    
font-size: 14px;
    
margin-top: 5px;
    
padding-bottom: 15px;
    
color: #807e7e;
}
.doctors-details span{
    
display: block;
    
height: 4px;
    
width: 100%;
    
background: #00cce1;
transition: .4s all ease-in-out;
}
.doctors-img::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .4s all ease-in-out;
}
.doctors-details .icons{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s all ease-in-out;
}
.doctors-details .icons ul{

list-style: none;

margin: 0;

padding: 0;

display: flex;
}
.doctors-details .icons ul li{

height: 50px;

width: 50px;

line-height: 56px;

margin: 0 5px;

border: 1px solid #fff;

color: #fff;

text-align: center;

border-radius: 3px;

transition: .4s all ease-in-out;
}
.doctors-details .icons ul li:hover{

border: 1px solid #f69165;

color: #fff;

background: #f69165;
}
.doctors-details .icons ul li i{

font-size: 25px;

margin: 0;

padding: 0;
}
.doctors-details:hover .icons{
    top: 50%;
    opacity: 1;
}
.doctors-details:hover .doctors-img::before{
    opacity: .6;
}
.doctors-details:hover h5{
    color: #f69165 ;
}
.doctors-details:hover span{
background:#f69165 ;
}
.services_section{

}
.services_section .tooth{
    
display: flex;
    
width: 100%;
    
align-items: center;
    
margin-bottom: 5px;
}
.services_section .tooth img{
    
width: 9%;
    
}
.services_section .tooth h4{

margin-left: 15px;
transition: .4s all ease-in-out;
}
.services_section p{

}
.services_section .btn-read{

padding: 0;

color: #707070;

font-weight: 600;

font-size: 15px;
}
.services_section .box{
    
border: 4px solid #ebebeb;
    
padding: 25px;
transition: .4s all ease-in-out;
}
.services_section .box:hover{
    border: 4px solid #f69165;
    box-shadow: 1px 1px 3px 1px #e0582c;
}
.services_section .box:hover h4{
    color: #f69165;
}
.services_section .box:hover a{
    color: #f69165;
}
.services_section .box:hover i{
    color: #f69165;
}
.read-more-btn{
    transition: .4s all ease-in-out;
display: flex;

align-items: center;
}
.read-more-btn a{
    
margin-right: 5px;
}
.read-more-btn i{
    transition: .4s all ease-in-out;
color: #707070;
}
.price_section{

background: #eeeded;
}
.price_section .price-table{

border: 4px solid #fff;

transition: .4s all ease-in-out;

padding: 20px 0;
}
.price-table h2{

margin: 0;

color: #00cce1;

font-size: 30px;

font-weight: 600;
transition: .4s all ease-in-out;
}
.price-table h6{
    
font-size: 14px;
    
font-weight: 400;
    
color: #707070;
    
margin-top: 3px;
}
.price-table .price{
    
background: #fff;
    
width: 100%;
transition: .4s all ease-in-out;
}
.price-table .price h1{
    
color: #00cce1;
    
margin: 0;
    
padding-top: 10px;
    
font-weight: 700;
transition: .4s all ease-in-out;
}
.price-table .price p{
    
color: #00cce1;
    
margin: 0;
    
padding-bottom: 10px;
    
font-size: 15px;
    
font-weight: 600;
transition: .4s all ease-in-out;
}
.price-table p{

color: #707070;

margin: 0;

/* padding-bottom: 10px; */

font-size: 15px;

/* font-weight: 600; */

margin-top: 25px;

line-height: 40px;

margin-bottom: 25px;
}
.sing-up{

padding: 0;

color: #fff;

background: #00cce1;

padding: 9px 40px;

border-radius: 0;

font-weight: 600;

font-size: 18px;
transition: .4s all ease-in-out;
}
.price-table:hover{
    border: 4px solid #f69165;
}
.price-table:hover .price{
    background: #f69165;
}
.price-table:hover .sing-up{
    background: #f69165;
}
.price-table:hover h2{
    color: #f69165;
}
.price-table:hover h1{
    color: #fff;
}
.price-table:hover .price p{
    color: #fff;
}
.sing-up:hover{
    color: #fff;
}
.footer_slider{
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 55vh;
}
.footer_slider::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
}
.footer_slider .sticker{

display: flex;

justify-content: space-evenly;

align-items: center;
z-index: 1;
}
.footer_slider .sticker img{

/* width: 9%; */
}
.footer_slider .heading{

z-index: 1;
}
.footer_slider .heading h1{

color: #fff;

font-size: 30px;

margin-bottom: 7px;
}
.footer_slider .heading p{

color: #fff;
}
footer{

background: #1b1b1b;
}
footer img{
}
footer p{

color: #b4b4b4;

margin: 0;

margin: 20px 0;

font-size: 16px;
}
footer h2{

color: #fff;

margin: 0;

/* margin: 20px 0; */

margin-bottom: 20px;
}
.location{

display: flex;

align-items: center;

margin-bottom: 15px;
}
.location i{
    
color: #00cce1;
    
font-size: 30px;
}
.location p{
    
margin: 0;
    
margin-left: 20px;
}
.call{

display: flex;

align-items: center;

margin-bottom: 15px;
}
.call i{
    
color: #00cce1;
    
font-size: 30px;
}
.call p{
    
margin: 0;
    
margin-left: 20px;
}
.email{

display: flex;

align-items: center;

margin-bottom: 15px;
}
.email i{
    
color: #00cce1;
    
font-size: 30px;
}
.email p{
    
margin: 0;
    
margin-left: 20px;
}
.footer-img{

display: flex;

margin-bottom: 15px;
}
.footer-img img{width: 100%;}
.footer-img p{
    
margin: 0;
    
font-size: 16px;
    
margin-left: 20px;
}
.footer-img span{
    
font-size: 14px;
    
color: #5f5d5d;
}
form{

display: flex;
}
form input{
    
width: 70% !important;
    
border-radius: 0 !important;
    
background: transparent !important;
    
border: none !important;
    
border: 1px solid #a7afaa !important;
    
caret-color: #fff !important;
}
form input:focus{
    outline: none !important;
    box-shadow: none !important;
}
form input[type="submit"] {
    
width: 30% !important;
    
border: none !important;
    
color: #fff;
    
background: #e36e3b !important;
}
form input[type="submit"]:hover{
    color: #fff !important;
}
.follow{

display: flex;

align-items: center;

margin-top: 25px;
}
.follow h6{
    
color: #fff;
    
margin: 0;
    
font-size: 22px;
    
font-weight: 600;
    
margin-right: 10px;
}
.follow i{

color: #fff;

font-size: 22px;

width: 40px;

height: 40px;

line-height: 40px;

background: #323232;

margin-left: 10px;

text-align: center;
transition: .2s all ease-in-out;
}
.follow i:hover{
    background: #e36e3b; 
    color: #fff;
}
.footer_bottom{

background: #161616;

padding: 20px;
}
.footer_bottom p{

color: #777777;
}
.footer_bottom span{

color: #00cce1;
}
button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}
.navbar-nav {
    margin-top: 10px;
}
.navbar-nav .appoinment{
    display: none;
}
.cont{
    
margin-left: 15px;
}
.slider h2 {
    font-size: 32px;
    width: 60%;
}
.navbar-light .navbar-brand {
    display: none;
}
.navbar-light .navbar-nav .nav-link {
    text-align: center;
}